.user-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 175px;
}
.profile-picture {
    height: 125px;
    width: 125px;
    object-fit: cover;
    border-radius: 100px;
    z-index: 3;
    border: 5px solid #15202B;
    
}

.banner-picture {
    height: 250px;
    width: 520px;
    object-fit: cover;
    
}