.user-profile {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-evenly;
}
.profile-picture {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 100px;
    z-index: 3;
}

.banner-picture {
    height: 250px;
    width: 700px;
    object-fit: cover;
}