/* TODO Add site wide styles */
body {
    background-color: #15202B;
    font-family: Arial, "Segoe UI";
    font-size: 14px;
    color: rgba(255, 255, 255, 0.951);
}

.pageNotFound {
    font-size: 50px;
    margin-top: 100px;
    text-align: center;
    display: block;
  }