
.imgDiv {
    /* width: 10px;
    height: 200; */
    /* background-size: cover;
    border-radius: 33px;
    object-fit: contain;
    margin: 1rem; */
}

.image {
    width: 450px;
    height: 333px;
    object-fit: cover;
    border-radius: 12px;
    margin-top: 15px;
    margin-left: 55px;
}

.description {
    color: rgba(255, 255, 255, 0.951);
    margin-left: 55px;
    margin-top: 10px;
    text-decoration: none;
}

.tweets-feed {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* max-width: 1700px; */

}

.each-tweet {
    height: 470px;
    width: 520px;
    border: 1px solid grey;
}

.username-tweet {
    margin-left: 55px;
    margin-top: 30px;
}

.feed-navbar {
    justify-content: space-between;
}

.tweet-container {
    text-decoration: none;
}

.tweet-username {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.951);
}